
<div class="container">
    <div class="row">
    <div class="producto" >
        <img src="{{verqu.image}}" alt="{{verqu.title}}">
        <div class="info" >
            <h2>{{verqu.title}}</h2>
            <p class="descripcion">{{verqu.description}}</p>
            <p class="precio">${{verqu.price}}</p>
            <button class="boton-comprar">Comprar</button>
        </div>
    </div>
</div>
</div>





<div class="container">
    <div class="row">
        <div class="col">
            <img src="{{verqu.image}}" alt="">
            <h2>{{verqu.title}} </h2>                        
            <p class="descripcion">{{verqu.description}}</p>
            <p class="precio">${{verqu.price}}</p>
            <button class="boton-comprar">Comprar</button>

        </div>
    </div>
</div>